<?xml version='1.0' encoding='utf-8'?>
<widget id="com.arcww.my.inhouse.dev.wastenot" 
	version="0.0.3" 
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap = "http://phonegap.com/ns/1.0"
	xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WasteNot</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="exiang83@yahoo.com" href="http://www.yeesiang.com">
        exiang
    </author>
    <content src="index.html" />
	<icon src="icon.png" />
    <access origin="*" />
	
	<gap:plugin name="com.brodysoft.sqliteplugin" version="1.0.6" />
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.8.1" />
	<gap:plugin name="it.mobimentum.phonegapspinnerplugin" version="1.2.1" />
	<gap:plugin name="nl.x-services.plugins.socialsharing" source="plugins.cordova.io" />
	<gap:plugin name="nl.x-services.plugins.toast" version="2.0.2" />
	<gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
	<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
	<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
	<gap:plugin name="org.apache.cordova.file" version="1.3.1" />
	<gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
	
</widget>
